In [0]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
from pyspark.sql.functions import *
from pyspark.sql.functions import filter
from pyspark.sql.types import *

# LOAN DATASET #

In [0]:
#read in load dataset
# File location and type
file_location = "dbfs:/user/hive/warehouse/loan_df_to_csv"
file_type = "delta"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","

# schema_cust = StructType([StructField("Customer_ID", StringType()),
#                      StructField("Age", IntegerType()),
#                      StructField("Gender", IntegerType()),
#                      StructField("Occupation", StringType()),
#                      StructField("Marital Status", StringType()),
#                      StructField("Family Size", IntegerType()),
#                      StructField("Income", IntegerType()),
#                      StructField("Expenditure", IntegerType()),
#                      StructField("Use Frequency", IntegerType()),
#                      StructField("Loan Category", StringType()),
#                      StructField("Loan Amount", IntegerType()),
#                      StructField("Overdue", IntegerType()),
#                      StructField("Debt Record", IntegerType()),
#                      StructField("Returned Cheque", IntegerType()),
#                      StructField("Dishonour of Bill", IntegerType()),



# ])

# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format(file_type).load(file_location)
  
df.show()

+-----------+---+------+-------------------+-------------+----------+------+-----------+------------+------------------+----------+-------+----------+--------------+---------------+
|Customer_ID|Age|Gender|         Occupation|MaritalStatus|FamilySize|Income|Expenditure|UseFrequency|      LoanCategory|LoanAmount|Overdue|DebtRecord|ReturnedCheque|DishonourOfBill|
+-----------+---+------+-------------------+-------------+----------+------+-----------+------------+------------------+----------+-------+----------+--------------+---------------+
|    IB14001| 30|  MALE|       BANK MANAGER|       SINGLE|         4| 50000|      22199|           6|           HOUSING|   1000000|      5|     42898|             6|              9|
|    IB14008| 44|  MALE|          PROFESSOR|      MARRIED|         6| 51000|      19999|           4|          SHOPPING|     50000|      3|     33999|             1|              5|
|    IB14012| 30|FEMALE|            DENTIST|       SINGLE|         3| 58450|      27675|           5|        TRAVELLING|     75000|      6|     20876|             3|              1|
|    IB14018| 29|  MALE|            TEACHER|      MARRIED|         5| 45767|      12787|           3|         GOLD LOAN|    600000|      7|     11000|             0|              4|
|    IB14022| 34|  MALE|             POLICE|       SINGLE|         4| 43521|      11999|           3|        AUTOMOBILE|    200000|      2|     43898|             1|              2|
|    IB14024| 55|FEMALE|              NURSE|      MARRIED|         6| 34999|      19888|           4|        AUTOMOBILE|     47787|      1|     50000|             0|              3|
|    IB14025| 39|FEMALE|            TEACHER|      MARRIED|         6| 46619|      18675|           4|           HOUSING|   1209867|      8|     29999|             6|              8|
|    IB14027| 51|  MALE|     SYSTEM MANAGER|      MARRIED|         3| 49999|      19111|           5|       RESTAURANTS|     60676|      8|     13000|             2|              5|
|    IB14029| 24|FEMALE|            TEACHER|       SINGLE|         3| 45008|      17454|           4|        AUTOMOBILE|    399435|      9|     51987|             4|              7|
|    IB14031| 37|FEMALE|  SOFTWARE ENGINEER|      MARRIED|         5| 55999|      23999|           5|        AUTOMOBILE|     60999|      2|         0|             5|              3|
|    IB14032| 24|  MALE|       DATA ANALYST|       SINGLE|         4| 60111|      28999|           6|        AUTOMOBILE|     35232|      5|     33333|             1|              2|
|    IB14034| 32|  MALE|   PRODUCT ENGINEER|      MARRIED|         6|     0|      29000|           7|COMPUTER SOFTWARES|     80660|      6|      4500|             5|              4|
|    IB14037| 54|FEMALE|            TEACHER|      MARRIED|         5| 48099|      19999|           4|       RESTAURANTS|     30999|      1|     12000|             7|              5|
|    IB14039| 45|  MALE|    ACCOUNT MANAGER|      MARRIED|         7| 45777|      18452|           4|         GOLD LOAN|    987611|      7|     39999|             8|              1|
|    IB14041| 59|FEMALE|ASSISTANT PROFESSOR|      MARRIED|         4| 50999|      22999|           5|  EDUCATIONAL LOAN|    599934|      3|      9000|             9|              9|
|    IB14042| 25|FEMALE|             DOCTOR|       SINGLE|         4| 60111|      27111|           5|        TRAVELLING|   1290929|      4|     18000|             1|              0|
|    IB14045| 31|  MALE|       STORE KEEPER|       SINGLE|         5| 40999|      11999|           3|       BOOK STORES|    167654|      1|      4500|             0|              1|
|    IB14049| 49|  MALE|       BANK MANAGER|      MARRIED|         4| 45999|      14500|           4|        TRAVELLING|     79999|      4|      6700|             7|              3|
|    IB14050| 56|  MALE|     CIVIL ENGINEER|      MARRIED|         4|     0|      13999|           3|           HOUSING|   1065577|      6|     19999|             4|              2|
|    IB14054| 58|FEMALE|             DOCTOR|      MARRIED|         5| 60000|      25000|           5|           HOUSING|    900000|      5|     21000|             9|              0|
+-----------+---+------+-------------------+-------------+----------+------+-----------+------------+------------------+----------+-------+----------+--------------+---------------+
only showing top 20 rows

In [0]:
# Print the schema of the loan dataset
print(df.describe)

<bound method DataFrame.describe of DataFrame[Customer_ID: string, Age: bigint, Gender: string, Occupation: string, MaritalStatus: string, FamilySize: bigint, Income: bigint, Expenditure: bigint, UseFrequency: bigint, LoanCategory: string, LoanAmount: bigint, Overdue: bigint, DebtRecord: bigint, ReturnedCheque: bigint, DishonourOfBill: bigint]>

In [0]:
# Print the first 5 lines of the loan dataset

df.show(5)

+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+-----------+---------------+-----------------+
|Customer_ID|Age|Gender|  Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Category|Loan Amount|Overdue|Debt Record|Returned Cheque|Dishonour of Bill|
+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+-----------+---------------+-----------------+
|    IB14001| 30|  MALE|BANK MANAGER|        SINGLE|          4| 50000|      22199|            6|      HOUSING|    1000000|      5|      42898|              6|                9|
|    IB14008| 44|  MALE|   PROFESSOR|       MARRIED|          6| 51000|      19999|            4|     SHOPPING|      50000|      3|      33999|              1|                5|
|    IB14012| 30|FEMALE|     DENTIST|        SINGLE|          3| 58450|      27675|            5|   TRAVELLING|      75000|      6|      20876|              3|                1|
|    IB14018| 29|  MALE|     TEACHER|       MARRIED|          5| 45767|      12787|            3|    GOLD LOAN|     600000|      7|      11000|              0|                4|
|    IB14022| 34|  MALE|      POLICE|        SINGLE|          4| 43521|      11999|            3|   AUTOMOBILE|     200000|      2|      43898|              1|                2|
+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+-----------+---------------+-----------------+
only showing top 5 rows

In [0]:
# Print the number of columns in the loan dataset
print(len(df.columns))

15

In [0]:
# Print the number of rows in the loan dataset
print(df.count())

500

In [0]:
# Print the count of distinct records in the loan dataset

print(df.distinct().count())

500

In [0]:
# find the number of loans in each category
df.groupBy('LoanCategory').count().show()

+------------------+-----+
|      LoanCategory|count|
+------------------+-----+
|           HOUSING|   67|
|        TRAVELLING|   53|
|       BOOK STORES|    7|
|       AGRICULTURE|   12|
|         GOLD LOAN|   77|
|  EDUCATIONAL LOAN|   20|
|        AUTOMOBILE|   60|
|          BUSINESS|   24|
|COMPUTER SOFTWARES|   35|
|           DINNING|   14|
|          SHOPPING|   35|
|       RESTAURANTS|   41|
|       ELECTRONICS|   14|
|          BUILDING|    7|
|        RESTAURANT|   20|
|   HOME APPLIANCES|   14|
+------------------+-----+

In [0]:
print(df.filter(df.LoanAmount > 100000).count())

450

In [0]:
# find the number of people with income greater than 60000 rupees

198

In [0]:
# fidn the number of people with 2 or more returned cheques and income less than 50000
print(df.filter((df.ReturnedCheque >= 2) & (df.Income < 50000)).count())

167

In [0]:
# find the number of people with 2 or more returned cheques and are single
print(df.filter((df.ReturnedCheque >= 2) & (df.MaritalStatus == 'SINGLE')).count())

111

In [0]:
%sql
use catalog `hive_metastore`; select * from `default`.`loan_df_to_csv` limit 100;

Customer_ID,Age,Gender,Occupation,MaritalStatus,FamilySize,Income,Expenditure,UseFrequency,LoanCategory,LoanAmount,Overdue,DebtRecord,ReturnedCheque,DishonourOfBill
IB14001,30,MALE,BANK MANAGER,SINGLE,4,50000,22199,6,HOUSING,1000000,5,42898,6,9
IB14008,44,MALE,PROFESSOR,MARRIED,6,51000,19999,4,SHOPPING,50000,3,33999,1,5
IB14012,30,FEMALE,DENTIST,SINGLE,3,58450,27675,5,TRAVELLING,75000,6,20876,3,1
IB14018,29,MALE,TEACHER,MARRIED,5,45767,12787,3,GOLD LOAN,600000,7,11000,0,4
IB14022,34,MALE,POLICE,SINGLE,4,43521,11999,3,AUTOMOBILE,200000,2,43898,1,2
IB14024,55,FEMALE,NURSE,MARRIED,6,34999,19888,4,AUTOMOBILE,47787,1,50000,0,3
IB14025,39,FEMALE,TEACHER,MARRIED,6,46619,18675,4,HOUSING,1209867,8,29999,6,8
IB14027,51,MALE,SYSTEM MANAGER,MARRIED,3,49999,19111,5,RESTAURANTS,60676,8,13000,2,5
IB14029,24,FEMALE,TEACHER,SINGLE,3,45008,17454,4,AUTOMOBILE,399435,9,51987,4,7
IB14031,37,FEMALE,SOFTWARE ENGINEER,MARRIED,5,55999,23999,5,AUTOMOBILE,60999,2,0,5,3
IB14032,24,MALE,DATA ANALYST,SINGLE,4,60111,28999,6,AUTOMOBILE,35232,5,33333,1,2
IB14034,32,MALE,PRODUCT ENGINEER,MARRIED,6,0,29000,7,COMPUTER SOFTWARES,80660,6,4500,5,4
IB14037,54,FEMALE,TEACHER,MARRIED,5,48099,19999,4,RESTAURANTS,30999,1,12000,7,5
IB14039,45,MALE,ACCOUNT MANAGER,MARRIED,7,45777,18452,4,GOLD LOAN,987611,7,39999,8,1
IB14041,59,FEMALE,ASSISTANT PROFESSOR,MARRIED,4,50999,22999,5,EDUCATIONAL LOAN,599934,3,9000,9,9
IB14042,25,FEMALE,DOCTOR,SINGLE,4,60111,27111,5,TRAVELLING,1290929,4,18000,1,0
IB14045,31,MALE,STORE KEEPER,SINGLE,5,40999,11999,3,BOOK STORES,167654,1,4500,0,1
IB14049,49,MALE,BANK MANAGER,MARRIED,4,45999,14500,4,TRAVELLING,79999,4,6700,7,3
IB14050,56,MALE,CIVIL ENGINEER,MARRIED,4,0,13999,3,HOUSING,1065577,6,19999,4,2
IB14054,58,FEMALE,DOCTOR,MARRIED,5,60000,25000,5,HOUSING,900000,5,21000,9,0
IB14057,25,MALE,AIRPORT OFFICER,SINGLE,4,40000,18888,3,RESTAURANTS,400000,8,11111,1,7
IB14060,36,FEMALE,CLERK,MARRIED,4,35000,15000,3,HOUSING,300000,2,5600,4,8
IB14070,40,MALE,PUBLIC WORKS,MARRIED,4,38000,20000,3,GOLD LOAN,400000,9,19954,3,2
IB14078,45,FEMALE,FIRE DEPARTMENT,MARRIED,4,40000,18888,4,AUTOMOBILE,70000,1,0,2,1
IB14079,25,MALE,CLERK,SINGLE,3,35000,9000,2,GOLD LOAN,100000,3,12584,1,2
IB14082,60,FEMALE,TEACHER,MARRIED,5,70000,40000,9,GOLD LOAN,257789,4,10058,4,3
IB14085,30,MALE,ELECTRICIAN,MARRIED,4,30000,15000,5,HOUSING,354789,5,32154,5,5
IB14086,51,FEMALE,TECHNICIAN,MARRIED,5,30000,0,5,RESTAURANTS,125463,7,52634,4,10
IB14089,25,MALE,PROFESSOR,SINGLE,5,62145,31254,4,BOOK STORES,1245789,6,48596,6,5
IB14092,47,MALE,SYSTEM ENGINEER,MARRIED,4,52364,45612,3,GOLD LOAN,654725,4,67451,5,4
1B14093,21,FEMALE,MANAGER,SINGLE,3,42516,24567,7,AUTOMOBILE,2569874,8,89652,2,3
1B14094,49,MALE,ASSISTANT PROFESSOR,MARRIED,5,65214,42589,5,HOUSING,985412,5,11254,1,2
IB14096,33,FEMALE,CLERK,MARRIED,3,35684,15247,3,RESTAURANTS,1452637,3,13547,3,2
IB14099,47,FEMALE,DOCTOR,MARRIED,4,72154,45286,4,AUTOMOBILE,754126,2,19524,5,2
IB14101,33,FEMALE,PRODUCT ENGINEER,MARRIED,5,0,45812,5,AUTOMOBILE,852416,4,17524,6,3
IB14104,54,MALE,AIRPORT OFFICER,MARRIED,6,80000,32541,2,AUTOMOBILE,2045789,1,16599,2,3
IB14106,29,MALE,FIRE DEPARTMENT,MARRIED,5,45213,32457,9,TRAVELLING,1524789,7,90000,2,5
IB14107,44,FEMALE,ACCOUNT MANAGER,MARRIED,4,800000,15632,8,AUTOMOBILE,2365478,5,20145,3,4
IB14109,56,MALE,DRIVER,MARRIED,5,30000,15426,7,TRAVELLING,921456,6,20000,4,6
IB14111,57,FEMALE,CORPORATE OFFICER,MARRIED,3,52143,0,4,COMPUTER SOFTWARES,7541236,4,11111,3,2
IB14113,49,MALE,ASSISTANT MANAGER,MARRIED,7,45612,39542,3,SHOPPING,587412,7,65412,3,2
IB14115,41,MALE,BANK MANAGER,MARRIED,6,64125,21246,6,TRAVELLING,652147,5,16524,3,3
IB14117,39,FEMALE,SYSTEM OFFICER,MARRIED,6,0,32541,5,EDUCATIONAL LOAN,102256,3,14256,4,4
IB14120,47,FEMALE,TEACHER,MARRIED,3,50000,42563,4,RESTAURANTS,654120,6,45127,2,3
IB14121,33,MALE,DOCTOR,MARRIED,6,70000,12541,8,HOUSING,745213,4,19541,1,3
IB14123,36,MALE,ELECTRICIAN,MARRIED,2,36985,25648,6,AUTOMOBILE,985413,7,20000,5,3
IB14125,29,FEMALE,TEACHER,MARRIED,4,59999,42568,4,AUTOMOBILE,5214789,5,17452,2,2
IB14126,57,MALE,FIRE DEPARTMENT,MARRIED,5,54123,0,7,RESTAURANTS,412365,6,18524,2,1
IB14128,46,FEMALE,CLERK,MARRIED,3,750000,25641,5,GOLD LOAN,214569,4,16324,3,4
IB14130,43,MALE,PRODUCT ENGINEER,MARRIED,4,50147,45863,8,COMPUTER SOFTWARES,785241,8,19999,3,5
IB14134,33,MALE,DOCTOR,MARRIED,6,70000,33541,8,BUILDING,745213,4,19541,1,3
IB14136,36,MALE,ELECTRICIAN,MARRIED,2,36985,25648,6,ELECTRONICS,985413,7,20000,5,3
IB14138,27,FEMALE,SOFTWARE ENGINEER,SINGLE,4,40000,22000,4,GOLD LOAN,400000,4,15647,5,3
IB14140,45,MALE,BANK MANAGER,MARRIED,6,55670,32500,5,TRAVELLING,200560,3,34600,4,4
IB14143,34,FEMALE,TEACHER,MARRIED,4,45389,0,5,HOME APPLIANCES,350050,4,24000,4,3
IB14145,45,FEMALE,CLERK,MARRIED,5,40560,38789,6,TRAVELLING,785000,6,29650,6,7
IB14146,56,MALE,FIRE DEPARTMENT,MARRIED,6,67890,34567,5,TRAVELLING,678500,5,13560,3,4
IBI4148,46,MALE,SYSTEM OFFICER,MARRIED,5,56780,24560,5,GOLD LOAN,854000,6,23700,6,4
IBI4150,38,FEMALE,ACCOUNT MANAGER,MARRIED,4,45600,19870,4,HOME APPLIANCES,765040,5,35700,5,4
IBI4153,58,MALE,SYSTEM ENGINEER,MARRIED,6,76800,0,5,TRAVELLING,1659080,6,29000,5,3
IBI4155,24,FEMALE,SOFTWARE ENGINEER,SINGLE,4,55680,29000,5,AUTOMOBILE,789000,5,24000,6,4
IBI4157,35,MALE,BANK MANAGER,MARRIED,4,930000,35680,6,HOUSING,679040,5,34000,5,5
IB14158,54,MALE,AIRPORT OFFICER,MARRIED,6,80000,62541,2,AUTOMOBILE,2045789,1,16599,2,3
IB14160,29,MALE,FIRE DEPARTMENT,MARRIED,5,45213,32457,9,TRAVELLING,1524789,7,90000,2,5
IB14163,44,FEMALE,ACCOUNT MANAGER,MARRIED,4,800000,15632,8,COMPUTER SOFTWARES,2365478,5,20145,3,4
IB14164,56,MALE,DRIVER,MARRIED,5,30000,15426,7,TRAVELLING,921456,6,20000,4,6
IB14167,57,FEMALE,CORPORATE OFFICER,MARRIED,3,52143,0,4,AUTOMOBILE,7541236,4,11111,3,2
IB14169,49,MALE,ASSISTANT MANAGER,MARRIED,7,45612,39542,3,SHOPPING,587412,7,65412,3,2
IB14171,47,FEMALE,DOCTOR,MARRIED,4,72154,45286,4,AUTOMOBILE,754126,2,19524,5,2
IB14173,33,FEMALE,PRODUCT ENGINEER,MARRIED,5,0,45812,5,SHOPPING,852416,4,17524,6,3
IB14176,54,MALE,AIRPORT OFFICER,MARRIED,6,80000,62541,2,HOUSING,2045789,1,16599,2,3
IB14178,51,MALE,SYSTEM MANAGER,MARRIED,3,49999,19111,5,ELECTRONICS,60676,8,13000,2,5
IB14179,24,FEMALE,TEACHER,SINGLE,3,45008,17454,4,AUTOMOBILE,399435,9,51987,4,7
IB14181,37,FEMALE,SOFTWARE ENGINEER,MARRIED,5,55999,23999,5,HOME APPLIANCES,60999,2,0,5,3
IB14184,24,MALE,DATA ANALYST,SINGLE,4,60111,28999,6,RESTAURANTS,35232,5,33333,1,2
IB14186,44,MALE,PROFESSOR,MARRIED,6,59000,19999,4,AUTOMOBILE,50000,3,33999,1,5
IB14187,30,FEMALE,DENTIST,SINGLE,3,58450,27675,5,TRAVELLING,75000,6,20876,3,1
IB14189,29,MALE,TEACHER,MARRIED,5,45767,12787,3,GOLD LOAN,600000,7,11000,0,4
IB14191,34,MALE,POLICE,SINGLE,4,44521,11999,3,AUTOMOBILE,200000,2,43898,1,2
IB14194,55,FEMALE,NURSE,MARRIED,6,34999,19888,4,TRAVELLING,47787,1,50000,0,3
IB14195,32,MALE,PRODUCT ENGINEER,MARRIED,6,0,29000,7,SHOPPING,80660,6,4500,5,4
IB14197,54,FEMALE,TEACHER,MARRIED,5,48099,19999,4,RESTAURANTS,300999,1,12000,7,5
IB14199,45,MALE,ACCOUNT MANAGER,MARRIED,7,45777,18452,4,GOLD LOAN,987611,7,39999,8,1
IB14201,59,FEMALE,ASSISTANT PROFESSOR,MARRIED,4,60999,22999,5,AUTOMOBILE,599934,3,9000,9,9
IBI4202,35,MALE,BANK MANAGER,MARRIED,4,67500,25780,6,AUTOMOBILE,679040,5,34000,5,5
IB14204,54,MALE,AIRPORT OFFICER,MARRIED,6,81000,62541,2,DINNING,2045789,1,16599,2,3
IB14206,51,MALE,SYSTEM MANAGER,MARRIED,3,39999,19111,5,AUTOMOBILE,60676,8,13000,2,5
IB14208,36,FEMALE,CLERK,MARRIED,4,45300,15000,3,HOUSING,300000,2,5600,4,8
IB14210,40,MALE,PUBLIC WORKS,MARRIED,4,38000,20000,3,GOLD LOAN,400000,9,19954,3,2
IB14213,31,MALE,STORE KEEPER,SINGLE,5,40999,11999,3,AUTOMOBILE,167654,1,4500,0,1
IB14215,49,MALE,BANK MANAGER,MARRIED,4,45999,14500,4,TRAVELLING,79999,4,6700,7,3
IB14216,24,MALE,DATA ANALYST,SINGLE,4,60111,28999,6,RESTAURANTS,35232,5,33333,1,2
IB14218,44,MALE,PROFESSOR,MARRIED,6,51000,19999,4,SHOPPING,50000,3,33999,1,5
IB14220,30,FEMALE,DENTIST,SINGLE,3,58450,27675,5,TRAVELLING,75000,6,20876,3,1
IB14221,31,MALE,STORE KEEPER,SINGLE,5,40999,11999,3,BOOK STORES,167654,1,4500,0,1
IB14224,49,MALE,BANK MANAGER,MARRIED,4,45999,14500,4,HOME APPLIANCES,79999,4,6700,7,3
IB14225,56,MALE,CIVIL ENGINEER,MARRIED,4,0,13999,3,HOUSING,1065577,6,19999,4,2
IB14227,54,MALE,AIRPORT OFFICER,MARRIED,6,80000,62541,2,HOUSING,2045789,1,16599,2,3
IB14229,51,MALE,SYSTEM MANAGER,MARRIED,3,49999,19111,5,ELECTRONICS,60676,8,13000,2,5
IB14231,24,FEMALE,TEACHER,SINGLE,3,45008,17454,4,AUTOMOBILE,399435,9,51987,4,7

In [0]:
# find the  number of people with expenditure over 50000 a month 
print(df.filter(df.Expenditure > 50000).show())

+-----------+---+------+---------------+-------------+----------+------+-----------+------------+------------+----------+-------+----------+--------------+---------------+
|Customer_ID|Age|Gender|     Occupation|MaritalStatus|FamilySize|Income|Expenditure|UseFrequency|LoanCategory|LoanAmount|Overdue|DebtRecord|ReturnedCheque|DishonourOfBill|
+-----------+---+------+---------------+-------------+----------+------+-----------+------------+------------+----------+-------+----------+--------------+---------------+
|    IB14158| 54|  MALE|AIRPORT OFFICER|      MARRIED|         6| 80000|      62541|           2|  AUTOMOBILE|   2045789|      1|     16599|             2|              3|
|    IB14176| 54|  MALE|AIRPORT OFFICER|      MARRIED|         6| 80000|      62541|           2|     HOUSING|   2045789|      1|     16599|             2|              3|
|    IB14204| 54|  MALE|AIRPORT OFFICER|      MARRIED|         6| 81000|      62541|           2|     DINNING|   2045789|      1|     16599|             2|              3|
|    IB14227| 54|  MALE|AIRPORT OFFICER|      MARRIED|         6| 80000|      62541|           2|     HOUSING|   2045789|      1|     16599|             2|              3|
|    IB14278| 41|  MALE|   BANK MANAGER|      MARRIED|         6| 64125|      51246|           6|  TRAVELLING|    652147|      5|     16524|             3|              3|
|    IB15024| 26|  MALE|      DIETICIAN|       SINGLE|         3| 95425|      53086|           2|     HOUSING|    488076|      4|     61227|             5|              2|
+-----------+---+------+---------------+-------------+----------+------+-----------+------------+------------+----------+-------+----------+--------------+---------------+

None

# CREDIT CARD DATASET #

In [0]:
# Load the credit card dataset

file_cc_path = 'dbfs:/user/hive/warehouse/credit_card'
file_type = "delta"

# The applied options are for CSV files. For other file types, these will be ignored.
df_cc = spark.read.format(file_type).load(file_cc_path)
  
df_cc.show()

+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        1|  15634602| Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|
|        2|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        3|  15619304|     Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|
|        4|  15701354|     Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|
|        5|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
|        6|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|             0|      149756.71|     1|
|        7|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|             1|        10062.8|     0|
|        8|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|             0|      119346.88|     1|
|        9|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|            2|             1|        74940.5|     0|
|       10|  15592389|       H?|        684|   France|  Male| 27|     2|134603.88|            1|             1|       71725.73|     0|
|       11|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|            2|             0|       80181.12|     0|
|       12|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|             0|       76390.01|     0|
|       13|  15632264|      Kay|        476|   France|Female| 34|    10|      0.0|            2|             0|       26260.98|     0|
|       14|  15691483|     Chin|        549|   France|Female| 25|     5|      0.0|            2|             0|      190857.79|     0|
|       15|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|             1|       65951.65|     0|
|       16|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|             1|       64327.26|     0|
|       17|  15737452|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|             0|        5097.67|     1|
|       18|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|             1|       14406.41|     0|
|       19|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|             0|      158684.81|     0|
|       20|  15568982|      Hao|        726|   France|Female| 24|     6|      0.0|            2|             1|       54724.03|     0|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 20 rows

In [0]:
# Print the schema of the credit card dataset
df_cc.printSchema()

root
 |-- RowNumber: long (nullable = true)
 |-- CustomerId: long (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: long (nullable = true)
 |-- Geography: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- Tenure: long (nullable = true)
 |-- Balance: double (nullable = true)
 |-- NumOfProducts: long (nullable = true)
 |-- IsActiveMember: long (nullable = true)
 |-- EstimatedSalary: double (nullable = true)
 |-- Exited: long (nullable = true)

In [0]:
# Print the number of columns in the credit card dataset
print(len(df_cc.columns))

13

In [0]:
# Print the number of rows in the credit card dataset
print(df_cc.count())

10000

In [0]:
# Print the number of distinct records in the credit card dataset
print(df_cc.distinct().count())

10000

In [0]:
# Print the first 5 rows in the credit card dataset
print(df_cc.show(5))

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|
|        4|  15701354|    Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 5 rows

None

In [0]:
# Find the number of members who are elgible for credit card
print(df_cc.filter(df_cc.Exited == 0).count())

7963

In [0]:
# Find the number of members who are  elgible and active in the bank
print(df_cc.filter((df_cc.Exited == 0) & (df_cc.IsActiveMember == 1)).count())

4416

In [0]:
# Find the credit card users in Spain 
print(df_cc.filter(df_cc.Geography == 'Spain').show())

+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        2|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        5|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
|        6|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|             0|      149756.71|     1|
|       12|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|             0|       76390.01|     0|
|       15|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|             1|       65951.65|     0|
|       18|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|             1|       14406.41|     0|
|       19|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|             0|      158684.81|     0|
|       22|  15597945| Dellucci|        636|    Spain|Female| 32|     8|      0.0|            2|             0|      138555.46|     0|
|       23|  15699309|Gerasimov|        510|    Spain|Female| 38|     4|      0.0|            1|             0|      118913.53|     1|
|       31|  15589475|  Azikiwe|        591|    Spain|Female| 39|     3|      0.0|            3|             0|      140469.38|     1|
|       34|  15659428|  Maggard|        520|    Spain|Female| 42|     6|      0.0|            2|             1|       34410.55|     0|
|       35|  15732963| Clements|        722|    Spain|Female| 29|     9|      0.0|            2|             1|      142033.07|     0|
|       37|  15788448|   Watson|        490|    Spain|  Male| 31|     3|145260.23|            1|             1|      114066.77|     0|
|       38|  15729599|  Lorenzo|        804|    Spain|  Male| 33|     7|  76548.6|            1|             1|       98453.45|     0|
|       41|  15619360|    Hsiao|        472|    Spain|  Male| 40|     4|      0.0|            1|             0|       70154.22|     0|
|       45|  15684171|  Bianchi|        660|    Spain|Female| 61|     5|155931.11|            1|             1|      158338.39|     0|
|       59|  15623944|    T'ien|        511|    Spain|Female| 66|     4|      0.0|            1|             0|        1643.11|     1|
|       63|  15702014|  Jeffrey|        555|    Spain|  Male| 33|     1| 56084.69|            2|             0|      178798.13|     0|
|       64|  15751208|  Pirozzi|        684|    Spain|  Male| 56|     8| 78707.16|            1|             1|       99398.36|     0|
|       73|  15812518|  Palermo|        657|    Spain|Female| 37|     0|163607.18|            1|             1|       44203.55|     0|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 20 rows

None

In [0]:
# Find the credit card users with Estiamted Salary greater than 100000 and have exited the card
print(df_cc.filter((df_cc.EstimatedSalary > 100000) & (df_cc.Exited == 1)).count())

1044

In [0]:
# Find the credit card users with Estiamted Salary less than 100000 and have more than 1 products
print(df_cc.filter((df_cc.EstimatedSalary < 100000) & (df_cc.NumOfProducts > 1)).count())

2432

# TRANSACTION DATASET #

In [0]:
# Load the transacton dataset

file_txn_path = 'dbfs:/user/hive/warehouse/txn_updated'
file_type = 'delta'

df_t = spark.read.format(file_type).load(file_txn_path)

df_t = df_t.withColumnRenamed("TRANSACTION DETAILS", "TransactionDetails")\
           .withColumnRenamed("VALUE DATE", "ValueDate")\
           .withColumnRenamed("WITHDRAWAL AMT", "WithdrawlAmt")\
           .withColumnRenamed("DEPOSIT AMT", "DepositAmt")\
           .withColumnRenamed("BALANCE AMT", "BalanceAmt")
df_t.show()

+------------+--------------------+----------+------------+----------+----------+
|   AccountNo|  TransactionDetails| ValueDate|WithdrawlAmt|DepositAmt|BalanceAmt|
+------------+--------------------+----------+------------+----------+----------+
|409000611074|TRF FROM  Indiafo...|2017-06-29|        NULL|   1000000|   1000000|
|409000611074|TRF FROM  Indiafo...|2017-07-05|        NULL|   1000000|   2000000|
|409000611074|FDRL/INTERNAL FUN...|2017-07-18|        NULL|    500000|   2500000|
|409000611074|TRF FRM  Indiafor...|2017-08-01|        NULL|   3000000|   5500000|
|409000611074|FDRL/INTERNAL FUN...|2017-08-16|        NULL|    500000|   6000000|
|409000611074|FDRL/INTERNAL FUN...|2017-08-16|        NULL|    500000|   6500000|
|409000611074|FDRL/INTERNAL FUN...|2017-08-16|        NULL|    500000|   7000000|
|409000611074|FDRL/INTERNAL FUN...|2017-08-16|        NULL|    500000|   7500000|
|409000611074|FDRL/INTERNAL FUN...|2017-08-16|        NULL|    500000|   8000000|
|409000611074|FDRL/INTERNAL FUN...|2017-08-16|        NULL|    500000|   8500000|
|409000611074|INDO GIBL Indiafo...|2017-08-16|      133900|      NULL|   8366100|
|409000611074|INDO GIBL Indiafo...|2017-08-16|       18000|      NULL|   8348100|
|409000611074|INDO GIBL Indiafo...|2017-08-16|        5000|      NULL|   8343100|
|409000611074|INDO GIBL Indiafo...|2017-08-16|      195800|      NULL|   8147300|
|409000611074|INDO GIBL Indiafo...|2017-08-16|       81600|      NULL|   8065700|
|409000611074|INDO GIBL Indiafo...|2017-08-16|       41800|      NULL|   8023900|
|409000611074|INDO GIBL Indiafo...|2017-08-16|       98500|      NULL|   7925400|
|409000611074|INDO GIBL Indiafo...|2017-08-16|      143800|      NULL|   7781600|
|409000611074|INDO GIBL Indiafo...|2017-08-16|      331650|      NULL|   7449950|
|409000611074|INDO GIBL Indiafo...|2017-08-16|      129000|      NULL|   7320950|
+------------+--------------------+----------+------------+----------+----------+
only showing top 20 rows

In [0]:
# Print the schema of the transacton dataset
print(df_t.printSchema())

root
 |-- AccountNo: long (nullable = true)
 |-- TransactionDetails: string (nullable = true)
 |-- ValueDate: date (nullable = true)
 |-- WithdrawlAmt: long (nullable = true)
 |-- DepositAmt: long (nullable = true)
 |-- BalanceAmt: long (nullable = true)

None

In [0]:
#COUNT OF TRANSACTION ON EVERY ACCOUNT
df_t.groupBy('AccountNo').count().show()

+------------+-----+
|   AccountNo|count|
+------------+-----+
|409000405747|   51|
|409000438611| 4588|
|409000611074| 1093|
|409000425051|  802|
|     1196711|10536|
|409000493210| 6014|
|     1196428|48779|
|409000493201| 1044|
|409000438620|13454|
|409000362497|29840|
+------------+-----+

In [0]:
# Find the Maximum withdrawal amount for each account
df_t.groupBy('AccountNo').max('WithdrawlAmt').show()

+------------+-----------------+
|   AccountNo|max(WithdrawlAmt)|
+------------+-----------------+
|409000405747|        170000000|
|409000438611|        240000000|
|409000611074|           912000|
|409000425051|        354000000|
|     1196711|        459447546|
|409000493210|         15000000|
|     1196428|        150000000|
|409000493201|          2500000|
|409000438620|        400000000|
|409000362497|        141366239|
+------------+-----------------+

In [0]:
#MINIMUM WITHDRAWAL AMOUNT OF AN ACCOUNT
df_t.groupBy('AccountNo').min('WithdrawlAmt').show()

+------------+-----------------+
|   AccountNo|min(WithdrawlAmt)|
+------------+-----------------+
|409000405747|               21|
|409000438611|                0|
|409000611074|              120|
|409000425051|                1|
|     1196711|                0|
|409000493210|                0|
|     1196428|                0|
|409000493201|                2|
|409000438620|                0|
|409000362497|                1|
+------------+-----------------+

In [0]:
#MAXIMUM DEPOSIT AMOUNT OF AN ACCOUNT
df_t.groupBy('AccountNo').max('DepositAmt').show()

+------------+---------------+
|   AccountNo|max(DepositAmt)|
+------------+---------------+
|409000405747|      202100000|
|409000438611|      170250000|
|409000611074|        3000000|
|409000425051|       15000000|
|     1196711|      500000000|
|409000493210|       15000000|
|     1196428|      211959442|
|409000493201|        1000000|
|409000438620|      544800000|
|409000362497|      200000000|
+------------+---------------+

In [0]:
#MINIMUM DEPOSIT AMOUNT OF AN ACCOUNT
df_t.groupBy('AccountNo').min('DepositAmt').show()

+------------+---------------+
|   AccountNo|min(DepositAmt)|
+------------+---------------+
|409000405747|            500|
|409000438611|              0|
|409000611074|           1320|
|409000425051|              1|
|     1196711|              1|
|409000493210|              0|
|     1196428|              1|
|409000493201|              1|
|409000438620|              0|
|409000362497|              0|
+------------+---------------+

In [0]:
#sum of balance in every bank account
df_t.groupBy('AccountNo').sum('BalanceAmt').show()

+------------+---------------+
|   AccountNo|sum(BalanceAmt)|
+------------+---------------+
|409000405747|   -24310804720|
|409000438611| -2494865770883|
|409000611074|     1615533622|
|409000425051|    -3772118247|
|     1196711|-16047649810122|
|409000493210| -3275849521318|
|     1196428|-81418498130721|
|409000493201|     1042083205|
|409000438620| -7122918680247|
|409000362497|-52860004792808|
+------------+---------------+

In [0]:
#Number of transaction on each date
df_t.groupBy('ValueDate').count().show()

+----------+-----+
| ValueDate|count|
+----------+-----+
|2018-05-28|   80|
|2018-08-10|  216|
|2017-08-11|  128|
|2017-09-11|  109|
|2016-03-01|  109|
|2015-03-09|    8|
|2015-05-19|   17|
|2018-03-17|   50|
|2018-06-06|   84|
|2016-04-25|  161|
|2017-01-06|  111|
|2018-06-26|  117|
|2018-08-08|  174|
|2018-09-01|  194|
|2018-10-05|  132|
|2018-11-02|  121|
|2016-07-26|   98|
|2016-08-31|   74|
|2016-10-03|   95|
|2016-05-03|  105|
+----------+-----+
only showing top 20 rows

In [0]:
#List of customers with withdrawal amount more than 1 lakh
df_t.filter(df_t.WithdrawlAmt > 100000).select('AccountNo', 'TransactionDetails', 'WithdrawlAmt').show()

+------------+--------------------+------------+
|   AccountNo|  TransactionDetails|WithdrawlAmt|
+------------+--------------------+------------+
|409000611074|INDO GIBL Indiafo...|      133900|
|409000611074|INDO GIBL Indiafo...|      195800|
|409000611074|INDO GIBL Indiafo...|      143800|
|409000611074|INDO GIBL Indiafo...|      331650|
|409000611074|INDO GIBL Indiafo...|      129000|
|409000611074|INDO GIBL Indiafo...|      230013|
|409000611074|INDO GIBL Indiafo...|      367900|
|409000611074|INDO GIBL Indiafo...|      108000|
|409000611074|INDO GIBL Indiafo...|      141000|
|409000611074|INDO GIBL Indiafo...|      206000|
|409000611074|INDO GIBL Indiafo...|      242300|
|409000611074|INDO GIBL Indiafo...|      113250|
|409000611074|INDO GIBL Indiafo...|      206900|
|409000611074|INDO GIBL Indiafo...|      276000|
|409000611074|INDO GIBL Indiafo...|      171000|
|409000611074|INDO GIBL Indiafo...|      189800|
|409000611074|INDO GIBL Indiafo...|      271323|
|409000611074|INDO GIBL Indiafo...|      200600|
|409000611074|INDO GIBL Indiafo...|      176900|
|409000611074|INDO GIBL Indiafo...|      150050|
+------------+--------------------+------------+
only showing top 20 rows